@font-face {
  font-family: AkuraPopo;
  src: url(/Akura-Popo-2/Akura-Popo.otf);
}

.dimmed.dimmable > .ui.animating.dimmer,
.dimmed.dimmable > .ui.visible.dimmer,
.ui.active.dimmer {
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.ui.modal,
.ui.active.modal {
  margin: 0 auto !important;
  margin-top: 50px !important;
  top: auto !important;
  left: auto !important;
  transform-origin: center !important;
  transition: all ease 0.5s;
}

.full_width {
  width: 100%;
}

.custom_modal:hover {
  cursor: pointer;
}

.akura {
  font: AkuraPopo, serif !important;
}

.review_tag_padding {
  padding-right: 15px;
}

.chart_size {
  height: 200px;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.star_gold {
  color: #d99a01 !important;
}

.star_gold_background {
  background-color: #d99a01 !important;
}

.word_wrap {
  word-wrap: break-word;
}

.custom_error {
  background: #fff6f6 !important;
  border-color: #e0b4b4 !important;
  color: #9f3a38 !important;
}

.loader_push_down {
  padding-top: 300px;
}

.error_red {
  color: #9f3a38 !important;
}

.bold {
  font-weight: bolder;
}

.linkshare_blue {
  color: #4183c4 !important;
}

/* .blue_on_hover:hover {
  color: white !important;
  background-color: #4183c4 !important;
} */

.inline {
  display: inline-block;
}

.block {
  display: block;
}

.align_right {
  text-align: right;
}
.underline {
  text-decoration: underline;
}

.center_text {
  text-align: center;
}

.center_inline {
  margig-left: auto;
  margig-right: auto;
}

.logo_size {
  font-size: 1.5em;
}

.left_navtext {
  display: inline-block;
  vertical-align: middle;
}

.right_navtext {
  color: black;
  font-weight: bold;
}

.vertical_align {
  display: inline-block;
  vertical-align: middle;
}

.clearfix {
  overflow: auto;
}

.to_right {
  float: right;
}

.to_left {
  float: left;
}

.forgot_password {
  border-bottom: 1px dashed;
  float: right;
}

.review_characters_met {
  color: #30c452;
}

.review_characters_not_met {
  color: #d14751;
}

.review_characters_right {
  float: right;
}

.eighth_of_em {
  font-size: 0.8em;
}
