@font-face {
  font-family: AkuraPopo;
  src: url(/Akura-Popo-2/Akura-Popo.otf);
}

.akura {
  font: AkuraPopo, serif !important;
}

.custom_error {
  background: #fff6f6 !important;
  border-color: #e0b4b4 !important;
  color: #9f3a38 !important;
}

.bold {
  font-weight: bolder;
}

.linkshare_blue {
  color: #4183c4 !important;
}

/* .blue_on_hover:hover {
  color: white !important;
  background-color: #4183c4 !important;
} */

.underline {
  text-decoration: underline;
}

.center_text {
  text-align: center;
}

.logo_size {
  font-size: 1.5em;
}

.left_navtext {
  display: inline-block;
  vertical-align: middle;
}

.right_navtext {
  color: black;
  font-weight: bold;
}

.vertical_align {
  display: inline-block;
  vertical-align: middle;
}

.forgot_password {
  border-bottom: 1px dashed;
  float: right;
}

.review_characters_met {
  color: #30c452;
}

.review_characters_not_met {
  color: #d14751;
}

.review_characters_right {
  float: right;
}

.eighth_of_em {
  font-size: 0.8em;
}
